body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.profile-picture{
    width: 150px;
}
.card{
    background-color: #A3B18A;
    color: #2b2839;
    border-bottom: 10px solid #3a5a40;
    border-right: 10px solid #3a5a40;
    width: 410px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 20px;
}

